.nav{
  align-items:center;
  padding: 0rem 2rem;
}
.Nav {
  background: var(--mainBlue);
  padding: 0rem 2rem;

}

.NavItem {
  animation:none!important;
}

.NavLink {
  color: var(--mainWhite);
  font-family: "Oswald", sans-serif !important;
  /* font-family: "Permanent Marker", cursive; */
  text-align:center;

}

.NavLink:hover {
    color:var(--mainYellow);
    top:-3px;
    border-bottom: 2px solid var(--mainYellow);
    border-top: 2px solid var(--mainYellow);

    /* transform:rotate(360deg);
    transition: all 0.3s; */
}


.NavTog {
  border: 0!important;
  width:60px;
  height:60px;
  color:var(--mainYellow);
}

.Cart {
  margin-left:auto!important;
  text-decoration: none!important;
  text-align:center;
  list-style-type: none;
}